In [1]:
import numpy as np
import pandas as pd
import cx_Oracle
import os
import json

ratings=pd.read_json('data/ratings.json')
ratings.head()

,MOVIEID,USERID,RATING,TS,DT,TOP5,K,DTYY,DTMM,DTDW,DTHH,KTT,TRAIN,TEST,DIFF
0,1,3,4.0,944919407,944919407000,NaN,81,1999,12,7,13,81,A,N,0.0
1,1,6,5.0,858275452,858275452000,NaN,18,1997,3,5,17,18,A,N,1.0
2,1,8,4.0,833981871,833981871000,NaN,45,1996,6,4,13,45,A,N,0.0
3,1,10,4.0,943497887,943497887000,NaN,5,1999,11,5,2,5,N,A,NaN
4,1,11,4.5,1230858821,1230858821000,NaN,138,2009,1,6,1,138,A,N,0.5

In [6]:
print("The columns of the dataframe:\n")
ratings.columns
rows, columns = ratings.shape
print(f'Number of columns: {columns}')

The columns of the dataframe:

Number of columns: 15

In [7]:
print(f'Number of rows: {rows}')

Number of rows: 267432

In [8]:
print(f'Number of records with MOVEID<20 and RATING==5 is: {(ratings[(ratings.MOVIEID<20) & (ratings.RATING==5)]).shape[0]}')

Number of records with MOVEID<20 and RATING==5 is: 40808

In [9]:
print(f'Movies rated by the user USERID==11 are: {ratings[ratings.USERID==11]}')

Movies rated by the user USERID==11 are:         MOVIEID  USERID  RATING          TS             DT  TOP5    K  DTYY  \
4             1      11     4.5  1230858821  1230858821000   NaN  138  2009
141827       10      11     2.5  1230858959  1230858959000   NaN  124  2009
246496       19      11     3.5  1230783704  1230783704000   NaN  460  2009

        DTMM  DTDW  DTHH  KTT TRAIN TEST  DIFF
4          1     6     1  138     A    N   0.5
141827     1     6     1  124     A    N  -0.5
246496     1     5     4  460     A    N   0.5

In [ ]:
#Tamar Noselidze